.voice-to-text-button {
  position: fixed;
  width: 50px;
  height: 50px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0;
  border-radius: 5px;
  margin-top: -60px; /* Adjust as needed */
  margin-right: 70px; /* Adjust as needed */
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  transition: background-color 0.3s;
}

.voice-to-text-button.disabled {
  background-color: gray;
  cursor: not-allowed;
}

.voice-to-text-button.green {
  background-color: #00ff00;
}

.voice-to-text-button.red {
  background-color: red;
}

.mic-icon {
  background-image: url('ComponentImages/mic-off.png');
  background-size: cover;
  width: 30px; /* Adjust the width and height according to your image */
  height: 30px;
}

.voice-to-text-button.green .mic-icon {
  background-image: url('ComponentImages/mic-on.png');
}

.transcript-display {
  background-color: #dddddd; /* Light gray background */
  border: 1px solid #ddd;
  border-radius: 5px; /* Smaller border-radius for a cleaner look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px; /* Smaller padding */
  margin-top: 10px;
}

.transcript-display h2 {
  color: #333;
  font-size: 24px; /* Smaller font size */
  margin-bottom: 6px; /* Smaller margin-bottom */
}

.transcript-display p {
  color: #555;
  font-size: 24px; /* Even smaller font size */
  line-height: 1.4;
}
